*{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body{
    margin: 0;
  }
  
  a{
    text-decoration: none;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#1562f1,#e6e5f5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    width: 640px;
    background-color: #1562f1;
    border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .profile-img{
    width: 120px;
    border-radius: 50%;
    border: #a734d2 5px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-65px);
  }
  
  .container-text {
    margin-top:-40px;
  }
  
  h1.name{
    margin: 0;
  }
  
  h3.desc{
    font-weight: 400;
    
  }
  
  .adress-icon{
    width: 24px;
    filter: brightness(15);
    
  }
  
  .botao{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #13b4f3;
    border: 7px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 0%;
    margin-top: 10px;
  }

h1{
    text-align: center;
}

h3{
    text-align: center;
}